<div class="show-container">
  <div class = "show-main-content">
    <div class="card-trip">
      <h2>Cart show</h2>
      <ul>
      <div class = "show-item">
        <%= link_to dashboard_path do %>
          <button class="effect effect-5" href="#" title="Back">Back</button>
        <% end %>
        <% @cart.line_items.each do |line_item| %>
          <div class = "item-textbox">
          <h1><%=item_name = Item.find(line_item.item_id)&.item_name %></h1>
          <p><%= item_descripton = Item.find(line_item.item_id)&.description %></p>
          <hr>
          Price: <%= number_to_currency(line_item.item.price) %>
          Quantity: <%= line_item.quantity %>/ Total Price: <%= number_to_currency(line_item.total_price) %>
          <ul>
            <li>
              <%= link_to "Add one", line_item_add_path(line_item), method: :post %>
              <%= link_to "Reduce one", line_item_reduce_path(line_item), method: :post %>
            </li>
            <li>
              <%= link_to "Remove item", line_item_path(line_item), method: :delete %>
            </li>
          </ul>
          </div>
        <% end %>
      </div>
      </ul>
      <div class="stock_price">
      Sub total: <%= number_to_currency(@cart.sub_total) %>
      </div>  
      <%= link_to "Proceed to checkout", new_order_path %><br>

      <%= form_for @cart, method: :delete do |f| %>
        <%= f.submit "Delete Cart" %>
      </div>
      <% end %> 
  </div>
</div>