<h2>All items</h2>

<% Item.where(id: params[:item_id]).each do |item| %>
  <div class="card-trip">
    <%=  image_tag(item.image) %>
    <p>Name: <%= item.item_name %>; unit price of <%= number_to_currency(item.price, unit: "€") %></p>
    <p>
      <%= link_to "Edit", edit_item_path(item) %> |
      <%= link_to "Delete", item_path(item), method: :delete, data: {confirm: "Are you sure?"} %>
    </p>
  </div>
  <%= button_to "Add #{item.item_name} to cart", line_items_path(:item_id => item.id) %>
<% end%>

<%= link_to " Dashboard ", dashboard_path %>
