<h1>Adicione um artigo para venda</h1>

<%= simple_form_for @item do |f| %>
  <%= f.input :item_name, required: true, placeholder: "Nome do artigo" %>
  <%= f.input :description, required: true, placeholder: "Descrição do artigo" %>
  <%= f.input :price, required: true %>
  <%= f.input :quantity, required: true %>
  <%= f.input :photo, as: :file, required: true %>
  <%= f.submit "Submit item", class: "btn btn-primary" %>
<% end %>
