<h2>All items</h2>

<% Item.where(id: params[:item_id]).each do |item| %>
  <p>Name: <%= item.item_name %>; unit price of <%= number_to_currency(item.price, unit: "€") %></p>
  <p>
    <%= link_to "Edit", edit_item_path(item) %> |
    <%= link_to "Delete", item_path(item), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= button_to "Add #{item.item_name} to cart", line_items_path(:item_id => item.id) %>
  </p>
<% end%>

<%= link_to "New item", dashboard_path %>
